{% set viewMode = ['view', 'list'] %}
{% if mode is not defined or mode is empty %}
    {% set mode = 'view' %}
{% endif %}

<div class="box box-primary">
    <div class="box-body">
        {% if mode in viewMode %}
        <form role="form">
        {% elseif mode == 'edit' %}
        <form method="post" action="{{ path('virhi_ui_rest_api_doctrine_entity_post', {'name': entity.name, 'id': entity.id}) }}" role="form">
        {% endif %}

            {% if mode in viewMode %}
                <fieldset disabled>
            {% endif %}

            {% for field in entity.fields %}
                {% include  "VirhiUiRestApiDoctrineBundle:fields:field.html.twig"%}
            {% endfor %}

            {% if mode != 'list' %}
                {% for field in entity.embedFields %}
                    {% include  "VirhiUiRestApiDoctrineBundle:fields:embedField.html.twig"%}
                {% endfor %}
            {% endif %}

            {% if mode in viewMode  %}
                </fieldset>
            {% endif %}

            <div class="form-group text-right">
                {% if mode in viewMode %}
                    {% include  "VirhiUiRestApiDoctrineBundle:fields:block_button.html.twig"%}
                {% elseif mode == 'edit' %}
                    {% include  "VirhiUiRestApiDoctrineBundle:fields:edit_block_button.html.twig"%}
                {% endif %}
            </div>
        </form>
    </div>
</div>