<div class="btn-toolbar" role="toolbar">
    <a href="{{ path('virhi_ui_rest_api_doctrine_entity_list', {'name': entity.name}) }}" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-danger">Send</button>
</div>