<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UI</title>

    <!-- Bootstrap -->
    {% stylesheets
    '@VirhiUiRestApiDoctrineBundle/Resources/public/css/bootstrap.css'
    '@VirhiUiRestApiDoctrineBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<div class="row">
    {% include 'VirhiUiRestApiDoctrineBundle::menu.html.twig' %}
</div>


<div class="col-md-2">
    {{ render(controller('VirhiUiRestApiDoctrineBundle:Page:menu', { 'current': 'post' })) }}
</div>
<div class="col-md-10">
    {% block content %}
    {% endblock %}
</div>


{% javascripts
'@VirhiUiRestApiDoctrineBundle/Resources/public/js/jquery-2.1.0.js'
'@VirhiUiRestApiDoctrineBundle/Resources/public/js/bootstrap.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
